body {
  font-family: "arial";
  background: url('images/blue-background.jpg') no-repeat top center ;
  text-align: center;
}

.main-content {
  color: yellow;
  font-weight: 900;
  font-size: 16px;
}

.main-image {
  border: solid 4px black;
  border-radius: 50%;
}

h1 {
  Background-color: #e2e2e2;
  padding: 5px;
}

.section-title {
  text-transform: uppercase;
  color: blue;
}
